html, body {
    width: 98%;
    height: 98%;
}

#talk {
    position: absolute;
    bottom: 5%;
    left: 8%;
    width: 80%;
    height: 10%;
}

#submit {
    position: absolute;
    right: 3%;
    bottom: 5%;
    width: 8%;
    height: 10%;
    font-size: X-large;
    color: white;
    background-color: #6A7FF6;
    border-radius: 10%;
}
